In [ ]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [ ]:
# python variable
x=5
y="john"
print(x,y)
print(type(x))
print (type(y))

5 john
<class 'int'>
<class 'str'>

In [ ]:
# text type
# 1.string only alphabet
x=("hellow word")
print(x)
print (type(x))

hellow word
<class 'str'>

In [ ]:
# numeric type
# 1. integer only no e.g 1,2,23
x=24
print(x)
print(type(x))

24
<class 'int'>

In [ ]:
# 2. float written in decimel
x=2.5
print(x)
print(type(x))

2.5
<class 'float'>

In [ ]:
# 3. complex alphabet j with any no
x=24j
print(x)
print(type(x))

24j
<class 'complex'>

In [ ]:
# sequance type
# 1. tuple with round bracket
x=("apple","mango","orange")
print(x)
print(type(x))

('apple', 'mango', 'orange')
<class 'tuple'>

In [ ]:
# 2. list with square bracket
x=["apple", "banana"]
print(x)
print(type(x))

['apple', 'banana']
<class 'list'>

In [ ]:
# 3. range e.g (6) the answer is from 0 to 5 range must be written
x= range(7)
print(x)
print(type(x))

range(0, 7)
<class 'range'>

In [ ]:
# mapping type
# dictionaries with curl bracket in this
x ={"name" : "jhon","age":36}
print(x)
print(type(x))

{'name': 'jhon', 'age': 36}
<class 'dict'>

In [ ]:
# set type
# 1. set curl bracket with alphabet
x={"apple","banana","cherry"}
print(x)
print(type(x))

{'apple', 'cherry', 'banana'}
<class 'set'>

In [ ]:
# 2. frozen set with curl and square bracket
x=({"apple","banana",})
print(x)
print(type(x))

{'apple', 'banana'}
<class 'set'>

In [ ]:
# bollean type
a=  200
b= 33
if b>a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [ ]:
a= 15
b= "hellow"
print(bool(x))
print(bool(y))

True
True

In [ ]:
def myFunction() :
  return True

print(myFunction())

True

In [ ]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [ ]:
x = 200
print(isinstance(x, int))

True

In [ ]:
# if ,else ,elif statment
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [ ]:
a= 200
b= 33
if b > a:
  print("bis greatwer than a")
elif a == b:
  print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [ ]:
# while loop statment
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
i = 1
while i < 9:
  print(i)
  i += 1

1
2
3
4
5
6
7
8

In [ ]:
# break statment
i = 1
while i < 6:
  print(i)
  if (i == 3):
    break
  i += 1

1
2
3

In [ ]:
# continue statment
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [ ]:
# for loop
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
# break statment
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [ ]:
# continue statment
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [ ]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!